{
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "typings"
  ],
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "reporter": [
    "text-lcov"
  ],
  "all": true
}